.battery {
    height: 60vh;
    margin-top: 20vh;
    width: 80%;
    margin-left: 10%;
    background: #ccc;
    position: relative;
    float: left;
    border-radius: 5px;
}

.batteryKnob {
    background: #ccc;
    width: 50%;
    margin-left: 25%;
    height: 7.5%;
    margin-top: -7.5%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.levelContainer {
    height: 17.5%;
    width: 90%;
    margin: 5% 0 0 5%;
    float: left;
    border-radius: 5px;
    padding: 4px;
    background: red;
}

.level {
    background: #444;
    height: 100%;
    width: 100%;
}

.topLevel {
    margin-top: 15%;
}

.green {
    background: #2ecc71;
}

.green .progress-bar {
    background: #2ecc71;
}

.orange {
    background: #f1c40f;
}

.orange .progress-bar {
    background: #f1c40f;
}

.red {
    background: #e74c3c;
}

.red .progress-bar {
    background: #e74c3c;
}

.blue {
    background: #3498db;
}

.blue .progress-bar {
    background: #3498db;
}


.allcolors{
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px, #e74c3c 20px, #e74c3c 30px,  #f1c40f 30px, #f1c40f 40px);
}

.allcolors .progress-bar{
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px, #e74c3c 20px, #e74c3c 30px,  #f1c40f 30px, #f1c40f 40px);
}

.greenbluered {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px, #e74c3c 20px, #e74c3c 30px);
}

.greenbluered .progress-bar{
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px, #e74c3c 20px, #e74c3c 30px);
}

.greenyellowred {
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #f1c40f 10px, #f1c40f 20px, #e74c3c 20px, #e74c3c 30px);
}

.greenyellowred .progress-bar{
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #f1c40f 10px, #f1c40f 20px, #e74c3c 20px, #e74c3c 30px);
}

.greenbluered .progress-bar {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px, #e74c3c 20px, #e74c3c 30px);
}


.greenblue {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px);
}

.greenblue .progress-bar {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px);
}

.greenred {
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #e74c3c 10px, #e74c3c 20px);
}

.greenred .progress-bar{
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #e74c3c 10px, #e74c3c 20px);
}


.greenorange {
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #f1c40f 10px, #f1c40f 20px);
}

.greenorange .progress-bar{
    background: repeating-linear-gradient( -55deg, #2ecc71, #2ecc71 10px, #f1c40f 10px, #f1c40f 20px);
}

.redblue {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #e74c3c 10px, #e74c3c 20px);
}

.redblue .progress-bar {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #e74c3c 10px, #e74c3c 20px);
}

.redorange {
    background: repeating-linear-gradient( -55deg, #f1c40f, #f1c40f 10px, #e74c3c 10px, #e74c3c 20px);
}

.redorange .progress-bar {
    background: repeating-linear-gradient( -55deg, #f1c40f, #f1c40f 10px, #e74c3c 10px, #e74c3c 20px);
}

.blueorange {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #f1c40f 10px, #f1c40f 20px);
}

.blueorange .progress-bar {
    background: repeating-linear-gradient( -55deg, #3498db, #3498db 10px, #f1c40f 10px, #f1c40f 20px);
}